
@{
    ViewBag.Title = "About the Project";
}

<h2><b>Welcome to the manual!</b> <i>Sort of...</i></h2>

<div class="row">
    <img src="~/Content/Images/FE vs BE.jpg" style="margin: 10px; float:left; border-radius: 15px; border-style:hidden;" width="300" />
    <h3>Before we start...</h3>
    <p>
        Let me get something strait: I am <u>a back-end developer.</u> I know this site doesn't look perfect, or
        pretty, to be honest, but my job is not to make something pretty. My job is to make that monster on the left
        side of this page working. I do keep an eye out for a few visual details and I do try to make something look decent, but
        I'm not spending too much of my time on design.
    </p>
    <h3>Technologies I'm using here:</h3>
    <p>
        <ul style="margin: 10px;">
            <li>
                <b>Front-end:</b> HTML, CSS, Razor C# syntax, JavaScript, jQuery, Bootstrap, JS Ajax
            </li>
            <li>
                <b>Back-end:</b> C#, ASP.NET MVC
            </li>
            <li>
                <b>Hosting:</b> MS Azure Cloud
            </li>
        </ul>
    </p>
    <h3>About the app...</h3>
    <p>
        This site (or web app, call it whatever you like) is something like a developer market. At the login/register
        page you can make your own profile. The profile can be for a developer, or for a company. Once you make a
        profile, you'll be able to fill in some of the more interesting data for yourself. Now, I didn't include
        profile pictures because this is, after all, just a show-off site and I believe some people wouldn't want to
        leave stuff like their pictores on some unproven and not-trustworthy site.
    </p>
    <h4>As a developer...</h4>
    <p>
        You'll be able to add some of your working experience. You can add anything you want, be it at the companies
        already registered or those that are not yet. If you add working experience at the company that's not registered
        that company won't be displayed among the companies you can require to hire you. Makes sence, right? :)
        <br />
        <br />
        If you leave your working experience empty, you'll be considered as a <i>newcomer</i>. That means your starting
        salary will be <b>500&euro;</b>. Wait, what? My salary? Yes, the app calculates your salary based on your working
        experience. When I started the app I was thinking about making something similar to a football manager
        simulation, but instead of grades for crossing, tackling or stamina, grades would be Ruby, PHP7 or JS. I did
        partially implement it in a form of salary calculation. Of course, it's not nuclear science to implement the
        original idea, but it would require some time, and I already have a job and I don't want to spend like half a year
        on a portfolio site.
        <br />
        <br />
        Next, you can browse the companies that are registered. Once you pick the one you like, sent them a job request!
        They'll get the mail about your request. If you pick one of those companies I created (the first 13 - they
        are sorted by CompanyID) the request will be accepted right away and you'll be able to pick the tools and
        languages you'll be working on. If you decide to work in more than one companies, that's good too! The app
        won't restrict you from that as there are some people who are working more than one job. If you decide to
        quit, you can do that by pressing the <b>Quit</b> button on your Working Experience page, under your Profile
        page. Of course, you can edit your profile under the Profile page (labeled as your email in navbar). Just
        press the button to unlock the editing mode and that's it! And press Save when you're done.
    </p>
    <h4>As a company...</h4>
    <p>
        Once you make your company profile you can search for the potential employees. Go to Developers page and
        pick the stuff you need. If you see the search is a little bit slow, wait for a couple of seconds. Yes, I
        admit, I made some mistakes when I made database, but by the time I realised I would have some performance
        issues I completed a lot of stuff and it was too much of a hasle to take it from the top. Of course, it's
        a good lesson what to do never again. :D
        <br />
        <br />
        When you decide to hire someone (you pressed the button for it), again, if it's someone made up (the first
        109 users), they will be registered as your employees right away. Before you make a request you'll have to
        pick the skills you want for them to be working.
        <br />
        <br />
        Here's the <a href="https://github.com/aleksbn/ITExpertsApplication">link</a> to the GitHub repository, in case
        you want to see the code I made.
    </p>
    <h4>Few last tips...</h4>
    <p>
        If you notice some mistakes or bugs, feel free to email me about them. I'll try to correct them if it's not
        much of a hasle, but bare in mind this is just a portfolio site and not the actual app meant to do the real
        life stuff I mentioned above.
    </p>
    <b><i>Cheers!</i></b>
    <br />
    <p style="font-size: 24px;">Now, <a href="/account/createaccount">create</a> an account to see how does it work!</p>
</div>

@section Styles{
<style>
    p{
        margin: 5px;
        text-align: justify;
    }
    h3,h4{
        font-weight: bold;
    }
    </style>
    }